<div class="row">
  <div class="card">
    <ul>
      <li *ngFor="let usuario of usuarios">
        <div class="card-footer">
          <a
            [routerLink]="['/usuario-modificar']"
            [queryParams]="{
              id: usuario.id,
              nombre: usuario.nombre,
              apellido: usuario.apellido,
              edad: usuario.edad
            }"
          >
            {{usuario.nombre}}
            {{usuario.apellido}}
            {{usuario.edad}}
           
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
