<div class="red">
    <button [routerLink]="['/login']" type="button" class="btn btn-danger btn-lg btn-block" > Loguearse </button>

</div>
<div>
    <button [routerLink]="['/usuario-crear']" type="button" class="btn btn-primary btn-lg btn-block" > Crear  Usuario </button>
    <button [routerLink]="['/usuario-listar']" type="button" class="btn btn-primary btn-lg btn-block">Lista de usuarios</button>
    <button [routerLink]="['/usuario-modificar']" type="button" class="btn btn-primary btn-lg btn-block " >modificar usuarios</button>
</div>


<router-outlet></router-outlet>